.mainMenus {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    width: 100%;
    padding: 1rem 8rem;

    margin-top: 8rem;

    .infoMenu {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;

        > div {
            display: flex;
            flex-direction: row;
            gap: 1rem;

            > button {
                background-color: #fff;
                border: none;
                border-radius: 5px;
                padding: 0.5rem 1rem;
                font-size: 1rem;
                font-weight: 600;
                color: #000;
                cursor: pointer;
                transition: all 0.3s ease-in-out;

                &:hover {
                    background-color: #000;
                    color: #fff;
                }
            }
        }
    }
    > hr {
        width: 100%;
        border: 1px solid #000;
    }
}
